<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>サインイン</title>
</head>
<body>
  <h1>サインイン</h1>
  <form th:action="@{/admin/signin}" th:object="${signinForm}" method="post">
    <table border="1">
      <tr>
        <td>メールアドレス</td>
        <td>
          <input type="email" th:field="*{email}">
          <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></span>
        </td>
      </tr>
      <tr>
        <td>パスワード</td>
        <td>
          <input type="password" th:field="*{password}">
          <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></span>
        </td>
      </tr>
    </table>
    <input type="submit" value="サインイン">
  </form>
</body>
</html>
